MDK-ARM/**/*.axf
MDK-ARM/**/*.bin
MDK-ARM/**/*.crf
MDK-ARM/**/*.d
MDK-ARM/**/*.dep
MDK-ARM/**/*.htm
MDK-ARM/**/*.hex
MDK-ARM/**/*.lib
MDK-ARM/**/*.lnp
MDK-ARM/**/*.map
MDK-ARM/**/*.o
MDK-ARM/**/*.sct
MDK-ARM/**/*.tmp
MDK-ARM/**/*.bak
MDK-ARM/**/*.uvgui.*
MDK-ARM/**/*.uvoptx
MDK-ARM/**/Objects/
MDK-ARM/**/Listings/